@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

:root {
    /*colors */
    --background-color: #1E1E1E;
    --calculator-color: #242530;
    --display-color: #3A3F77;
    --button-color: #404258;
    --button-operations-color: #F49D1A;
    --button-equal-color: #B2B2B2;

    /* fonts */
    --font-family: "Inter", sans-serif;

    /* border radius */
    --display-border-radius: 40px;
    --mobile-display-border-radius: 20px;
    --button-border-radius: 70px;
    --mobile-button-border-radius: 35px;

    /* shadows */
    --button-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    --mobile-button-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}