body {
  min-height: 100vh;
  padding-top: 50px;

  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;

  background-color: var(--background-color);
}

@media (width <= 1000px) {
  body {
    font-size: 24px;
  }
}

@media (width <= 500px) {
  body {
    font-size: 22px;
  }
}
