.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;

  width: 800px;
  max-width: 90vw;
  height: 734px;
  max-height: 100%;
  padding: 50px;

  background-color: var(--calculator-color);
}

.calculator__display {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;

  height: 140px;
  padding: 50px;

  font-weight: 700;
  letter-spacing: 0.2rem;

  background-color: var(--display-color);
  border-radius: var(--display-border-radius);
}

.calculator__display-operation {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  height: 90px;
  padding: 10px;

  border: var(--display-operation-border);
  border-radius: 50%;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: 8fr 8fr 8fr 5fr 5fr;
  gap: 20px;
}

@media (width <= 1000px) {
  .calculator {
    gap: 15px;
    width: 400px;
    height: 367px;
    padding: 25px;
  }

  .calculator__display {
    gap: 10px;
    height: 70px;
    padding: 25px;
    border-radius: var(--mobile-display-border-radius);
  }

  .calculator__display-operation {
    height: 45px;
    padding: 5px;
  }

  .calculator__buttons {
    gap: 10px;
  }
}

@media (width <= 500px) {
  .calculator {
    height: 340px;
    padding: 20px;
  }
}
